In [ ]:
#declare and initialize variables
university_names=("university of nairobi", "moi university", "kenyatta university", "jkuat")
university_locations=("nairobi", "kisumu", "nakuru", "kilifi")
student_population=("84000", "52815", "67907", "50000")
print(university_names)
print(university_locations)
print(student_population)

('university of nairobi', 'moi university', 'kenyatta university', 'jkuat')
('nairobi', 'kisumu', 'nakuru', 'kilifi')
('84000', '52815', '67907', '50000')

In [14]:
university_locations=('nairobi') #assigns the string 'nairobi' to the variable
print(type(university_locations))

<class 'str'>

In [ ]:
#a list of public universities, their locations and student population
universities= [{'university of nairobi', 'nairobi', '84000'},{'moi university','nairobi','52815'},{'kenyatta university','nairobi','67907'},{'jkuat', 'juja','50000'}]
print(universities)

[{'nairobi', 'university of nairobi', '84000'}, {'nairobi', '52815', 'moi university'}, {'kenyatta university', 'nairobi', '67907'}, {'juja', 'jkuat', '50000'}]

In [ ]:
universities.append({'maseno university', 'kisumu','27000'})
print(universities)

[{'nairobi', 'university of nairobi', '84000'}, {'nairobi', '52815', 'moi university'}, {'kenyatta university', 'nairobi', '67907'}, {'juja', 'jkuat', '50000'}, {'kisumu', 'maseno university', '27000'}]

In [ ]:
universities.extend([{'egerton university', 'nakuru', '16000'}, {'pwani university', 'kilifi','8000'}])
print(universities)

[{'nairobi', 'university of nairobi', '84000'}, {'nairobi', '52815', 'moi university'}, {'kenyatta university', 'nairobi', '67907'}, {'juja', 'jkuat', '50000'}, {'kisumu', 'maseno university', '27000'}, {'16000', 'egerton university', 'nakuru'}, {'kilifi', '8000', 'pwani university'}]

In [ ]:
universities.remove({'maseno university', 'kisumu','27000'})
print(universities)

[{'nairobi', 'university of nairobi', '84000'}, {'nairobi', '52815', 'moi university'}, {'kenyatta university', 'nairobi', '67907'}, {'juja', 'jkuat', '50000'}, {'16000', 'egerton university', 'nakuru'}, {'kilifi', '8000', 'pwani university'}]

In [10]:
#define a tuple containing university loctions
university_locations =('nairobi', 'kisumu', 'nakuru', 'kilifi',)
#print the entire tuple of university locations
print(university_locations)

('nairobi', 'kisumu', 'nakuru', 'kilifi')

In [ ]:
number_of_students =(84000, 52815, 67907, 50000) #define a tuple containing the number of students in different university locations
#print entire tuple of student numbers
print(number_of_students)

(84000, 52815, 67907, 50000)

In [11]:
#loop through tuple and print each location individually
for location in university_locations:
  print(location)

nairobi
kisumu
nakuru
kilifi

In [12]:
#a single element tuple showing a number of students
number_of_students = (84000,)
print(number_of_students)

<class 'tuple'>

In [ ]:
#a set representing the number of students in each university
number_of_students= {84000, 52815, 67907, 50000}
print(number_of_students)

{84000, 67907, 50000, 52815}

In [ ]:
number_of_students.add(27000)
print(number_of_students)

{84000, 67907, 52815, 50000, 27000}

In [ ]:
number_of_students.update([27000,16000,8000])
print(number_of_students)

{84000, 16000, 8000, 67907, 52815, 50000, 27000}

In [ ]:
number_of_students.remove(27000)
print(number_of_students)

{84000, 16000, 8000, 67907, 52815, 50000}

In [ ]:
student_population= {84000,52815,67907}
print(52815 in student_population)

True

In [ ]:
print(50000 in student_population) #50000 is not in the student population

False

In [ ]:
#define a dictionary where the keys are university names
#and the values are their respective student populations
universities= {'university of nairobi':'84000', 'moi university':'52815', 'kenyatta university':'67907', 'jkuat':'50000'}
print(universities)

{'university of nairobi': '84000', 'moi university': '52815', 'kenyatta university': '67907', 'jkuat': '50000'}

In [ ]:
#adding a new entry to the dictionary
universities['maseno university']='27000'

#print the updated dictionary
print(universities)

{'university of nairobi': '84000', 'moi university': '52815', 'kenyatta university': '67907', 'jkuat': '50000', 'maseno university': '27000'}

In [ ]:
universities['university of nairobi']

'84000'

In [ ]:
del universities['university of nairobi']
print(universities)

{'moi university': '52815', 'kenyatta university': '67907', 'jkuat': '50000', 'maseno university': '27000'}

In [ ]:
universities= {'moi university': '52815', 'kenyatta university': '67907', 'jkuat': '50000', 'maseno university': '27000'}
universities['egerton university']='16000'
universities['pwani university']='8000'
print(universities)

{'moi university': '52815', 'kenyatta university': '67907', 'jkuat': '50000', 'maseno university': '27000', 'egerton university': '16000', 'pwani university': '8000'}

In [ ]:
#get a list of university names
list[universities.keys()]

list[dict_keys(['university of nairobi', 'moi university', 'kenyatta university', 'jkuat'])]

In [ ]:
sorted(universities.keys())

['jkuat', 'kenyatta university', 'moi university', 'university of nairobi']

In [ ]:
#check whether 'maseno university' is one of the keys
'maseno university' in universities

True

In [ ]:
#check whether 'maseno university' is not one of the keys
'maseno university' not in universities

False

In [ ]:
#define a dictionary with details about a university
universities= {'school':'university of nairobi', 'population':'84000', 'location':'nairobi'}
#print the value associated with the key 'school'
print(universities['school'])
#print the value associated witht the key 'population'
print(universities['population'])
#print the value associated with the key 'location'
print(universities['location'])

university of nairobi
84000
nairobi